.dashboard_size{
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-btn{
    display: flex !important;
    justify-content: space-between !important;
}